@font-face {
  font-family: 'kanit';
  src: url('fonts/Kanit-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kanit';
  src: url('fonts/Kanit-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
